:root {
    --light:rgb(204, 211, 235);
    --dark: rgb(22, 45, 66);
    --highlight: rgb(77, 173, 169);
    --navlink-color: #b9c6ae;
  font-family: Arial, Helvetica, sans-serif;
  }

body {}

header {
    display:flex;
    width:100vw;
    height:100px;
    justify-content:space-between;
    align-items: center;  
    background-color:var(--dark);
    color:var(--highlight);
    min-width:fit-content;
}

h1 {
    font-size: 50px;
    background: var(--highlight);
    color: var(--dark);
    text-align:right;
    width:fit-content;
    height:fit-content;
    padding:10px 10px 10px 50px;
}

nav {
  justify-content: space-between;
  width:fit-content;
  min-width: 400px;
}
  
nav a {
  color:var(--highlight);
  display: inline-block;
  margin: 5px;
  padding: 5px;
  border-bottom:3px solid var(--highlight);
} 


.subheader {        display:flex;

  /* display: block flex; */
  position:relative;
  width:100vw;
  min-width: 920px;
  height:200px;
  background-image:url("./rainier.jpg");
  background-size:cover; 
}

h2 {
  font-size: 30px;
  background-color:var(--highlight);
  color:var(--dark);
  padding:10px;
  position:absolute;
  bottom:20px;
  right:50px;
  width:fit-content;
}
  
main {
    display:block flex;
    justify-content:flex-start;
    align-items:center;
    width:100vw;
}  

section {
  display: flex;
  justify-content:center;
  align-items:center;
  margin:30px auto;
  width:100%;
  height:max-content;
}

h3 {  
  display: block;
  width:20vw;
  height:100%;
  min-width:fit-content;
  /* height:fit-content; */
  /* display: flex; */
  /* justify-content:right; */
  align-items: center;
  font-size:40px;
  color:var(--dark);
  text-align: right;
  padding: 10px;
  /* margin-top:0px; */
  /* margin-left:50px; */
}


.content {
  height:100%;
  flex-wrap: wrap;
  display:flex;
  align-items: center;
  border-left:5px solid var(--dark);
  width:70vw;
  height:fit-content;
} 

.content p {
  line-height:1.5;
  padding:20px;
  width:100%;
}
.work {
  display:flex;
  padding:20px;
  width: 60vw;
  border-left:5px solid var(--dark);
}

.linkEl {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

article {
  border: 5px solid var(--highlight);
  display:flex;
  position: relative;
  margin:1%;
  transition:filter 1s;
  text-decoration: none;
  min-width:300px;
}

article:hover {
  filter:sepia();
}
a {
  /* display: block;
  background: orange;
  padding: 20px; */
  text-align: center;
  text-decoration: none; 
}
.float {
  position:absolute;
  bottom:10px;
  left:0px;
  background-color:var(--highlight);
  width:fit-content;
  height:fit-content;
  padding:5px;
}
 article p {
   font-size: 9px;
   padding:2px;
 }
 
#RecipeBuilder {
  display:flex;
  width:100%;
  height:400px;
  background-image:url("./cold-hbirdss.jpg");
  background-size:cover; 
}

#PasswordGenerator {
  width:47%;
  height:300px;
  background-image:url("./aerial-mountains-wide.jpg");
}

#DayPlanner {
  width:47%;
    height:300px;
  background-image:url("./aerial-river-wide.jpg");
}

#WeatherDashboard {
  width:47%;
  height:300px;
  background-image:url("./aerial-snow-wide.jpg");
}

#CodeQuiz {
  width:47%;
    height:300px;
  background-image:url("./aerial-windmills-wide.jpg");
}


 #contact {
  display:flex;
  justify-content: space-between;

 }

#contact a {
  margin:10px;
  padding:5px;
  border-bottom:5px solid var(--dark);
  color:var(--dark);
  text-decoration: none;
  height:fit-content;
}


/* For screens 768px and smaller */

 @media screen and (max-width: 768px) {

  /* body {
    width: 100vw;
    display:flex-box;
    flex-direction: column;
    align-items: flex-start;
  } */

  #PasswordGenerator {
    width:100%;
  }

  #DayPlanner {
    display:flex;
    width:100%;
  }
  
  #WeatherDashboard {
    width:100%;
  }
  
  #CodeQuiz {
    width:100%;
  }

  h3 {
    width:100%;
  }
} 
  /* .content 
    height:100vw;
    flex-wrap: wrap;
    display:flex;
    align-items: center;
    border-top:5px solid var(--dark);
    border-left:none;
    width:100%;
    height:fit-content; */